@{
    ViewBag.Title = "Home Page";
}
<form action="Home/Register/">
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Register" />
</form>
